commandHistory
week1/code/__pycache__/dbg.cpython-312.pyc
week1/code/__pycache__/utils.cpython-312.pyc
week1/data4
week1/data3
week1/data2
week1/data1
data1
data2
data3
data4
week1/code/__pycache__/dbg_kmer_as_key.cpython-312.pyc
/week3/code/__pycache__
test_phylo_codon_exe
week4/code/main_exe
week5/data
week5/code/data
week5/code/.ipynb_checkpoints/week5-checkpoint.ipynb
week6/code/data/alevin_output
week6/code/data/toy_ref_read
week6/code/data/whitelist.txt
week6/code/.ipynb_checkpoints/week5-checkpoint.ipynb
week6/code/data/clustering_plot.png
week6/code/data/cell_type_distribution.png
week6/code/data/cell_annotation_plot.png
week6/code/data/cell_annotation_final.png
week6/code/data/adata_with_gene_symbols.h5ad
week6/code/data/adata_clustered_with_symbols.h5ad
week6/code/data/adata_clustered.h5ad
week6/code/data/adata_annotated_final.h5ad
week6/code/data/adata_annotated.h5ad
week6/code/data/cell_type_distribution_final.png
week6/code/data/annotation_plot.png
week6/code/.ipynb_checkpoints/week6-checkpoint.ipynb
/project/lefse/__pycache__
