commandHistory
week1/code/__pycache__/dbg.cpython-312.pyc
week1/code/__pycache__/utils.cpython-312.pyc
week1/data4
week1/data3
week1/data2
week1/data1
data1
data2
data3
data4
week1/code/__pycache__/dbg_kmer_as_key.cpython-312.pyc
